<h1>Hello</h1>
<p>This service texts you Laurier's dining hall menu when you ask for it</p>
<p>If you would like to use this service, please email me <a href="mailto:me@sampujji.com">here</a> for instructions</p>
<p>You can view the source code <a href="https://github.com/SameerPujji/DiningHallMenu">here</a></p>